div.imageChooser
{
    width:                678px;
    margin:               2em 0 2em 0;
}

div.thumbnailsContainer
{
    overflow:             hidden;
    display:              none;
}

div.thumbnailsContainer label img
{
	  float:                left !important;
	  border:               1px solid #fff;
    /* background:           transparent url('/sfImagePoolPlugin/images/loader.gif') no-repeat center center; */
}

div.thumbnailsContainer label img:hover
 {
    border:               1px solid #ad2b29;
    cursor:               pointer;
}

div.thumbnailsContainer label
{
    padding:              0 !important;
    margin:               0 !important;
    width:                auto !important;
}

div.thumbnailsContainer input[type=radio],
div.thumbnailsContainer input[type=checkbox]
{
    display:              none;
}

div.selectedImage
{
    margin-bottom:        1.5em;
}

div.selectedImage img
{
  cursor: pointer;
}

div.selectedImage h4
{
    color:                #ccc;
    font-size:            9pt;
    margin-bottom:        0.5em;
}

div.selectedImage img
{
    -webkit-box-shadow:   0 0 20px #aaa;   
    -moz-box-shadow:      0 0 20px #aaa;   
    box-shadow:           0 0 20px #aaa;
}

p.pagination
{
  margin:                 1em 0 0 0;
  line-height:            2em;
  text-align:             center;
  clear:                  both;
  font-weight:            normal;
}

p.pagination span, p.pagination a
{
  margin: 0;
}

div.pool-image label.is_featured
{
  display:                none !important;
}

div.pool-image input
{
  display:                none !important;
}

body#iframe {
  background-color: white;  
  width: 660px;
  margin: 0;
  padding: 0;
}

body#iframe div#sf_admin_container {
   margin-top: 0px !important;
   width: 660px !important;
}

body#iframe div#sf_admin_container h1 {
  margin-left: 0.25em;
}

body#iframe div#sf_admin_container ul.sf_admin_actions {
  margin: 0.25em !important;
  padding: 0;  
}

iframe {
  border: none;
}