div#imageChooser,
div#multipleImageChooser,
div#sectionImageChooser
{
    width:                678px;
    margin:               2em 0 2em 0;
}

div#thumbnailsContainer,
div#multipleThumbnailsContainer,
div#sectionThumbnailsContainer
{
    overflow:             hidden;
    display:              none;
}

div#thumbnailsContainer label img,
div#multipleThumbnailsContainer label img,
div#sectionThumbnailsContainer label img
{
	  float:                left !important;
	  border:               1px solid #fff;
    background:           transparent url('/sfImagePoolPlugin/images/loader.gif') no-repeat center center;
}

div#thumbnailsContainer label img:hover,
div#multipleThumbnailsContainer label img:hover,
div#sectionThumbnailsContainer label img:hover
 {
    border:               1px solid #ad2b29;
    cursor:               pointer;
}

div#thumbnailsContainer label,
div#multipleThumbnailsContainer label,
div#sectionThumbnailsContainer label
{
    padding:              0;
    margin:               0;
    width:                auto !important;
}

div#thumbnailsContainer input[type=radio],
div#multipleThumbnailsContainer input[type=radio],
div#sectionThumbnailsContainer input[type=radio],
div#thumbnailsContainer input[type=checkbox],
div#multipleThumbnailsContainer input[type=checkbox],
div#sectionThumbnailsContainer input[type=checkbox]
 {
    display:              none;
}

div#selectedImage,
div#selectedImages,
div#selectedSectionImage
{
    margin-bottom:        1.5em;
}

div#selectedImage img, 
div#selectedImages img 
{
  cursor: pointer;
}

div#selectedImage h4,
div#selectedImages h4,
div#selectedSectionImage h4
{
    color:                #ccc;
    font-size:            9pt;
    margin-bottom:        0.5em;
}

div#selectedImage img,
div#selectedImages img,
div#selectedSectionImage img
{
    -webkit-box-shadow:   0 0 20px #aaa;   
    -moz-box-shadow:      0 0 20px #aaa;   
    box-shadow:           0 0 20px #aaa;
}

p#pagination,
p#multiplePagination,
p#sectionPagination
{
  margin-top:             1em;
  line-height:            2em;
  text-align:             center;
  clear:                  both;
}

div.pool-image label.is_featured
{
  display:                none !important;
}

div.pool-image input
{
  display:                none !important;
}

body#iframe {
  background-color: white;  
  width: 660px;
  margin: 0;
  padding: 0;
}

body#iframe div#sf_admin_container {
   margin-top: 0px !important;
   width: 660px !important;
}

body#iframe div#sf_admin_container h1 {
  margin-left: 0.25em;
}

body#iframe div#sf_admin_container ul.sf_admin_actions {
  margin: 0.25em !important;
  padding: 0;  
}

iframe {
  border: none;
}