.mooeditable-ui-toolbar .imagepool-item .button-icon { background-position: 0 -208px; }

#image-pool-editable {
  display: none;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -339px;
  border: 1px black solid;
  padding: 30px; 
  z-index: 1000;
  width: 678px;
  background: white;
  min-height: 289px;
}

#image-pool-editable .thumbnailsContainer {
  display: block;
}

#image-pool-editable label {
    padding:              0;
    margin:               0;
    width: auto !important;
}

#image-pool-editable label img {
  float: left !important;
  border: 1px solid white;
}

#image-pool-editable label img:hover {
  border: 1px solid #ad2b29;
  cursor: pointer;
}

#image-pool-editable .pagination {
  clear: both;
  font-weight:            normal;
}

#image-pool-editable .pagination span, #image-pool-editable .pagination a
{
  margin: 0;
}

.mooeditable-imagepool-dialog label.dialog-label {
  width: auto !important;	
}

.mooeditable-imagepool-dialog .selected-image {
  width: 100px;
  height: 100px;
  display: block;
}

.mooeditable-imagepool-dialog .dialog-content {
	overflow: hidden;
}

#image-pool-editable #close_image_pool {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}