sfImagePoolImage:
  sfImagePoolImage_1:
    original_filename:  placeholder.jpg
    filename:           placeholder.jpg
    credit:             Placeholder
    caption:            ''
    mime_type:          image/jpeg
