sfImagePoolImage:
  sfImagePoolImage_1:
    original_filename:  placeholder.jpg
    filename:           placeholder.jpg
    caption:            Placeholder
    credit:             ''
    mime_type:          image/jpeg
